<!DOCTYPE html>
<html>
<!-- Head Element -->
<%- include('./partials/head.ejs')%>

    <body>
        <div class="top">
            <h1>FOSH</h1>
            <form action="/store/new">
                <input type="submit" value="Add Product" />
            </form>
        </div>
        <div class="selection">
            <% products.forEach(product=> { %>
                <a href="/store/<%=product._id; %>">
                <div class="product">
                        <h3>
                            <%=product.name; %>
                        </h3>
                        <img src="<%=product.img%>" alt="<%=product.name%>">
                        <ul>
                            <% if (product.qty <=0) { %>
                                <li>
                                    <%=product.qty%> in stock
                                </li>
                                <li>
                                    <%=product.price%> V-Bucks
                                </li>
                                <li id="outOfStock">
                                    This item is currently out of stock.
                                </li>
                                <% } else { %>
                                    <li>
                                        <%=product.qty%> in stock
                                    </li>
                                    <li>
                                        <%=product.price%> V-Bucks
                                    </li>
                    <li>
                        <form action="/store/<%=product._id%>/buy?_method=PUT" method="POST">
                            <input type="submit" value="BUY" />
                        </form>
                    </li>
                    </ul>
                    <% } %>
                </div>
            </a>
                <% }) %>
        </div>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>