<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <nav>
        <a href="/store/new">Add a New Product</a>
    </nav>
    <div>
        <h1>Products index page</h1>
    </div>
    <div>
        <% products.forEach(product=> { %>
            <a href="/books/<%=product._id; %>">
                <div>
                    <h3>
                        <%=product.name; %>
                    </h3>
                    <img src="<%=product.img%>" alt="<%=product.name%>">
                    <ul>
                        <li>
                            <%=product.qty%> in stock
                        </li>
                        <li>
                            <%=product.price%> V-Bucks
                        </li>
                    </ul>
            </a>
    </div>
    <% }) %>
        </div>
</body>

</html>